.fill-hover {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .fill-hover:hover {
    color: white;
    background-color: #97ddf8;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    
  }
  .card-img {
    display: block;
    margin: 0 auto;
    width: 120%; /* Ajusta si es necesario */
    max-width: 150px; /* Limita el tamaño */
  }

  .custom-btn {
    position: fixed;
    bottom: 20px;
    right: 1200px;
    transform: translateX(-50%);
    background-color: #0074ef;
    color: rgb(255, 255, 255); 
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    width: auto;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .custom-btn:hover {
    background-color: #4b44dc;
    color: rgb(255, 255, 255);
  }

  .cotizar-btn {
    background-color: #dc3545;
    color: white;
    /* right: 1200px; */
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    width: 100px; /* Define un ancho para el botón */
    margin: 0 auto; /* Esto centrará el botón horizontalmente */
  }
  
  .cotizar-btn:hover {
    background-color: #c82333;
  }
  
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto centra el botón vertical y horizontalmente */
  }

  